
// variaveis usadas no meu sass
@mixin width100{
	width: 100%;
}
@mixin borderVar($valor: black){
	border: 1px solid darken($valor,10);
	// border: 1px solid adjuste-hue($valor,10);
}

%width-70{
	width: 70%;
}

@function valores($valores){
	@return $valores * 2;
}
//--

@import "compass/css3";
@import "compass/utilities";